<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}TODO List{% endblock %}</title>

    <meta name="description" content="" />
    <meta name="author" content="valsorym <ragnarok49@gmail.com>" />

    <link rel="icon" href="{{ url_for('static', filename='this/img/favicon.ico') }}" />
    <link rel="icon" href="{{ url_for('static', filename='this/img/favicon.png') }}" type="image/png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='lib/jquery/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

</head>
<body class="container" ng-app="JobListApp" ng-controller="{% block ngcontroller %}{% endblock %}" ng-cloak>
    <nav class="navbar navbar-default">
        <div>
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img alt="Brand" src="{{ url_for('static', filename='this/img/brand.png') }}" style="max-width:100%; max-height:100%;">
                </a>
                <p class="navbar-text">Test task for the best SoftServe project</p>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}

    <footer>
        <p>Copyright &copy; 2016 TODO List. All rights reserved.</p>
    </footer>

    {% block js %}
        <script src="{{ url_for('static', filename='lib/angularjs/angular.min.js') }}"></script>
        <script src="{{ url_for('static', filename='this/js/angularjs/app.js') }}"></script>
        <script src="{{ url_for('static', filename='this/js/angularjs/controllers/homectrl.js') }}"></script>
        <script src="{{ url_for('static', filename='this/js/angularjs/services/dataservice.js') }}"></script>
    {% endblock %}
</body>
</html>

