{% extends "base.jinja" %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='this/js/angularjs/controllers/anyctrl.js') }}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block ngcontroller %}AnyCtrl{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <section class="col-md-12" style="font-size:2.3em;">
                {{ message }}
            </section>
        </div>
    </article>
{% endblock %}
