{% extends "base.jinja" %}
{% block ngcontroller %}HomeCtrl{% endblock %}
{% block content %}
    <h2>TODO List</h2>
    <table class="table table-responsive">
        <tr>
            <th>#</th>
            <th>Description</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Completed at</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="job in actual_jobs" ng-class="{success: job.is_finished}">
            <td>{$ $index+1 $}</td>
            <td>{$ job.description $}</td>
            <td>{$ job.created_at*1000 | date:'yyyy-MM-dd HH:mm:ss' $}</td>
            <td>
                <button type="button" class="btn btn-default btn-sm" ng-show="job.is_finished" ng-click="toggleJobStatus(job)">
                    <span class="glyphicon glyphicon-remove"></span> Not done
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-hide="job.is_finished" ng-click="toggleJobStatus(job)">
                    <span class="glyphicon glyphicon-ok"></span> Mark as done
                </button>
            </td>
            <td><div ng-show="job.is_finished">{$ job.finished_at*1000 | date:'yyyy-MM-dd HH:mm:ss' $}</div></td>
            <td><button class="glyphicon glyphicon-trash" ng-click="deleteJob(job)"></button></td>
        </tr>
    </table>
    <form class="form-inline" name="form" novalidate>
        <div class="form-group" ng-class="{'has-error': form.new_job.$dirty && form.new_job.$invalid}">
            <label for="jobDecsription">Job Description:</label>
            <input ng-model="new_job" name="new_job" type="text" class="form-control" id="jobDescription" placeholder="What do u wanna do?" size="100" ng-minlength="3" ng-maxlength="128" required>
        </div>
        <button type="submit" class="btn btn-success" id="addJob" ng-click="addJob()">Add job</button>
        <span ng-show="form.new_job.$dirty && form.new_job.$error.minlength" id="errorMessage" class="help-block">Job description can not be blank or less then 3 chars.</span>
        <span ng-show="form.new_job.$dirty && form.new_job.$error.maxlength" id="errorMessage" class="help-block">Job description can not be longer then 128 chars.</span>
    </div>
    </form>
    <div>
        <button type="button" class="btn btn-lg btn-primary" ng-click="synchronize()">Sync jobs</button>
    </div>
{% endblock %}

